.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eeeeee;
    height: 10vh;
}
.footertext{
    font-size: 16px;
    font-weight: 400;
    font-family: 'JOST', sans-serif;
}
.footerlink{
    font-size: 16px;
    font-weight: 700;
    font-family: 'JOST', sans-serif;
    cursor: pointer;
    color: #000000;
}